.wrapper {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid darkgrey;
  gap: 10px;
}

li > div {
  padding: 0 1em;
  border-right: 1px solid gray;
  display: flex;
  gap: 1em;
}

li > div:last-of-type {
  border-right: 0;
}
