.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  border-bottom: 2px solid transparent !important;
}

.ant-menu-horizontal a,
.ant-menu-item-selected {
  color: rgba(0, 0, 0, 0.85) !important;
}

.ant-menu-horizontal > .ant-menu-item:hover a {
  color: #1890ff !important;
}

.ant-dropdown-menu-item {
  display: flex;
}
